body {
    background: #f6f6f6;
    color: #777;
    line-height: 24px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 20px 0;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

.title {
    font-size: 26px;
    color: #37b786;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .5px;
    font-weight: 300;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: .3px;
    text-align: justify;
}

footer {
    padding: 30px 0;
    color: #fff;
    background: linear-gradient(to right, #7f8c8d 0%, #34495e 100%);
}

.more-info {
    font-weight: 900;
    color: #fff;
    padding: 0 15px;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .5px;
}

.copyright {
    text-align: center;
    color: #d1efe4;
    font: 12px Arial, Helvetica, sans-serif;
    margin-top: 50px;
    padding: 0 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.copyright a {
    color: #d1efe4;
    text-decoration: none;
    transition: all 0.25s linear 0s;
}

.copyright a:hover {
    color: #fff;
    text-decoration: none;
}

.info-number {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .5px;
}

.footer-links ul {
    margin: 0;
    padding: 0;
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    transition: all 0.25s linear 0s;
}

.footer-links ul li a:hover {
    color: #a7ffdd;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 10px;
}

.top-links {
    float: right;
    text-align: right;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}

.top-links a {
    color: #777;
    font-size: 12px;
    text-decoration: none;
    margin: 0 4px;
    transition: all 0.25s linear 0s;
}


.top-links a:hover {
    color: #f06f6e;
}

.top-btns {
    margin-top: 10px;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
}

.top-btns a {
    color: #fff;
    text-decoration: none;
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.red {
    background: #e74c3c;
}

.red:hover {
    background: #c0392b;
}

